<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSourceCredentials>
    <eFactoryPro>
      <add key="Username" value="visual_studio_online" />
      <add key="ClearTextPassword" value="v4nqyzh5kjlewrnpnhcqt6quampg5s5dgkb3tus4xntzffsydtua" />
    </eFactoryPro>
  </packageSourceCredentials>
  <disabledPackageSources />
  <packageSources>
    <add key="nuget.org v3" value="https://api.nuget.org/v3/index.json" />
    <add key="eFactoryPro" value="https://advancedtech.pkgs.visualstudio.com/DefaultCollection/_packaging/eFactoryPro/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
