<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="EmailConfiguration" type="ATS.eFP.WebJob.Email.Application.Configuration.EmailConfiguration, ATS.eFP.WebJob.Email, Version=1.0.0.0, Culture=neutral" />
    <section name="WebJobAuthConfiguration" type="ATS.eFP.WebJob.Email.Application.Configuration.WebJobAuthConfiguration, ATS.eFP.WebJob.Email, Version=1.0.0.0, Culture=neutral" />
    <section name="LoggingConfiguration" type="ATS.eFP.WebJob.Email.Application.Configuration.LoggingConfiguration, ATS.eFP.WebJob.Email, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <EmailConfiguration SendGridUserName="azure_f40184afaf1cfa8c8a53d36b92869e85@azure.com" SendGridPassword="u2nTuzWFhtPvHlb1yTMo" HeaderLogo="https://atsefpdevstore01.blob.core.windows.net/email-template/eFP3logo.png" HeaderHeadset="https://atsefpdevstore01.blob.core.windows.net/email-template/Headset.png" FooterButton="https://atsefpdevstore01.blob.core.windows.net/email-template/Button.png" PortalLink="https://tech.dev.efactorypro.com" />
  <WebJobAuthConfiguration ClientId="efp-webjobs-9P3d6E9tYKcg3LbGY2QB" ClientSecret="5AL8Vr4mHn7GV8Li7Qpa" ServiceAccountName="SA_WEBJOB" ServiceAccountPassword="96ybfLB6pE1E4C7UxsFp" TokenAuthority="https://efp-sts.dev.efactorypro.com/core/connect/token" ODataApiUri="https://efp-api-usncz-d-ats.azurewebsites.net/odata/v1" />
  <!--<EmailConfiguration SendGridUserName="azure_f00aa5dcb24fa619400cf4e817e07b71@azure.com" SendGridPassword="r59RHQF5E1r5W831Dbwm" HeaderLogo="https://atsefpqastore01.blob.core.windows.net/email-template/eFP3logo.png" HeaderHeadset="https://atsefpqastore01.blob.core.windows.net/email-template/Headset.png" FooterButton="https://atsefpqastore01.blob.core.windows.net/email-template/Button.png" PortalLink="https://tech.qa.efactorypro.com" />
  <WebJobAuthConfiguration ClientId="efp-webjobs-2N3d4A9xYKwg3LzGY8Na" ClientSecret="7my2rK4NhT7G98Ld7Q6B" ServiceAccountName="SA_WEBJOB" ServiceAccountPassword="96ybfLB6pE1E4C7UxsFp" TokenAuthority="https://efp-sts.qa.efactorypro.com/core/connect/token" ODataApiUri="https://efp-api-usncz-q-ats.azurewebsites.net/odata/v1" />-->
  <LoggingConfiguration LogEntriesKey="a079a44a-2ec0-444c-a519-a03907996e53" />
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=atsefpdevstore01;AccountKey=qI8w62XxqzxEHzlEaGQRrnLjv9hmbk0TdXlL4mQF3UHqxb+B8wK19R6z+AKeVaeGcMGaT9x2kTXWDc8jq3AJCQ==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=atsefpdevstore01;AccountKey=qI8w62XxqzxEHzlEaGQRrnLjv9hmbk0TdXlL4mQF3UHqxb+B8wK19R6z+AKeVaeGcMGaT9x2kTXWDc8jq3AJCQ==" />
    <add name="AzureWebJobsServiceBus" connectionString="Endpoint=sb://efp-api-events-svcbus-usncz-d-ats.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=cWOlUx5elC/ANTwt2KGt+Wc6E2hJgXGosGqpH646D4Q=" />
    <!--<add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=atsefpqastore01;AccountKey=4R5IVeoXsfanZ15esXXb5ci4SOxBLgEE2E5zptJjo0vNbhL91+uzW6wZ8QwOBwVZPqWSN2HN1eI5rGbBAKNRPA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=atsefpqastore01;AccountKey=4R5IVeoXsfanZ15esXXb5ci4SOxBLgEE2E5zptJjo0vNbhL91+uzW6wZ8QwOBwVZPqWSN2HN1eI5rGbBAKNRPA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsServiceBus" connectionString="Endpoint=sb://efp-api-events-svcbus-usncz-q-ats.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=+RgvhSSK8knAqHd95jwWDCJmOalCDTHQF58dj2WU4sg=" />-->
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
    <add key="NewRelic.AppName" value="efp-webjob-email (DEV)" />
    <add key="NewRelic.AgentEnabled" value="true" />
    <add key="NewRelic.LicenseKey" value="c168d1683509368baad8e7f65328ccc1110eb231" />
  </appSettings>
</configuration>