<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <EmailConfiguration SendGridUserName="__WebJobs.SendGridUserName__" SendGridPassword="__WebJobs.SendGridPassword__" HeaderLogo="__WebJobs.HeaderLogo__" HeaderHeadset="__WebJobs.HeaderHeadset__" FooterButton="__WebJobs.FooterButton__" PortalLink="__WebJobs.PortalLink__" xdt:Transform="Replace" />
  <WebJobAuthConfiguration ClientId="__WebJob.API.ClientId__" ClientSecret="__WebJob.API.ClientSecret__" ServiceAccountName="__WebJob.API.UserName__" ServiceAccountPassword="__WebJob.API.Password__" TokenAuthority="__WebJob.API.TokenAuthority__" ODataApiUri="__WebJob.API.ODataUri__" xdt:Transform="Replace"  />
  <LoggingConfiguration LogEntriesKey="__WebJob.Escalation.LogEntriesKey__" xdt:Transform="Replace"  />
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="__WebJobs.StorageAccount__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AzureWebJobsStorage" connectionString="__WebJobs.StorageAccount__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AzureWebJobsServiceBus" connectionString="__WebJobs.ServiceBus__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="NewRelic.AppName" value="__NewRelic.AppName__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>