<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ATS.eFP.API.Client" version="1.0.0.25" targetFramework="net47" />
  <package id="ATS.eFP.Entities" version="1.0.2.286" targetFramework="net47" />
  <package id="Autofac" version="4.6.2" targetFramework="net47" />
  <package id="Dynamitey" version="1.0.2.0" targetFramework="net47" />
  <package id="FluentValidation" version="7.1.1" targetFramework="net47" />
  <package id="IdentityModel" version="2.0.1" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net47" />
  <package id="Microsoft.Azure.WebJobs" version="1.1.2" targetFramework="net47" />
  <package id="Microsoft.Azure.WebJobs.Core" version="1.1.2" targetFramework="net47" />
  <package id="Microsoft.Azure.WebJobs.ServiceBus" version="1.1.2" targetFramework="net47" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net47" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net47" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net47" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net47" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net47" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net47" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net47" />
  <package id="Microsoft.OData.Core" version="6.0.0" targetFramework="net47" />
  <package id="Microsoft.OData.Edm" version="6.0.0" targetFramework="net47" />
  <package id="Microsoft.Spatial" version="6.0.0" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.0.61" targetFramework="net47" />
  <package id="Microsoft.Web.WebJobs.Publish" version="1.1.0" targetFramework="net47" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net47" />
  <package id="NewRelic.Agent.Api" version="7.0.2.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NTextCat" version="0.2.1.30" targetFramework="net47" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net47" />
  <package id="Refit" version="4.0.0" targetFramework="net47" />
  <package id="Serilog" version="2.6.0" targetFramework="net47" />
  <package id="Serilog.Sinks.Logentries" version="3.0.26" targetFramework="net47" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.0" targetFramework="net47" />
  <package id="Simple.OData.Client" version="4.27.0.1" targetFramework="net47" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net47" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net47" />
  <package id="Twilio" version="5.9.6" targetFramework="net47" />
  <package id="WindowsAzure.ServiceBus" version="2.7.6" targetFramework="net47" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net47" />
</packages>