@inherits RazorEngine.Templating.TemplateBase<ATS.eFP.WebJob.Email.Application.Models.WorkorderNotificationWrapper>

<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
        <td style="padding: 0 20px;">
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tr>
                    <td class="col" width="200" style="padding: 0 10px;">
                        <img src=@Model.HeaderLogo />
                    </td>
                    <td width="200">
                        &nbsp;
                    </td>
                    <td class="col" width="200" style="padding: 0; text-align: right; padding-right: 10px;">
                        <table cellpadding="0" cellspacing="0" role="presentation">
                            <tr>
                                <td class="col" style="padding: 0;" rowspan="2">
                                    <img class="col-sm-push-11 text-sm-right" src=@Model.HeaderHeadset />
                                </td>
                                <td class="col col-sm-6" style="padding: 0 10px; text-align: left; height: 15px; color: #222222; font-family: Arial; font-size: 13px; line-height: 15px;">
                                    IT HELP DESK
                                </td>
                            </tr>
                            <tr>
                                <td class="col" style="padding: 0 10px; text-align: left; height: 17px; color: #DB1D3A; font-family: Arial; font-size: 16px; font-weight: bold; line-height: 18px;">
                                    800.662.4001
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
