@using ATS.eFP.WebJob.Email.Application.Localization
@inherits RazorEngine.Templating.TemplateBase<ATS.eFP.WebJob.Email.Application.Models.WorkorderNotificationWrapper>

<table bgcolor="#EAEAEA" align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="border-left: 10px solid #FFFFFF; border-right: 10px solid #FFFFFF">
    <tr>
        <td style="padding: 0 20px;">
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tr>
                    <td class="col" width="200" style="padding: 10px 10px; color: #151515; font-family: Arial; font-size: 12px; font-weight: bold; line-height: 22px;">
                        @LocalizedText.OperationalStatus
                    </td>
                    <td class="col" width="420" style="padding: 10px 10px; color: #000000; font-family: Arial; font-size: 13px; line-height: 22px;">
                        @if (Model.Product.OperatingStatusId == LocalizedText.EquipStatusDown)
                        {
                            <div style="color: #DB1D3A">@Model.Product.OperatingStatusId</div>
                        }
                        else
                        {
                            @Model.Product.OperatingStatusId
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>