@inherits RazorEngine.Templating.TemplateBase<ATS.eFP.WebJob.Email.Application.Models.WorkorderNotificationWrapper>

<div style="display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: Arial;">
    @Model.Subject
</div>
